<!-- MY GYM Membership
        ============================================= -->
<section id="membership">
  <div class="section notopmargin nobottommargin">
    <div class="container clearfix">
      <div class="col_half nobottommargin topmargin-lg">
        {{_embedded.6f50736a:static.content}}
      </div>

      <!-- End MY GYM Membership MODAL POP OVER -->
      <div class="col_half nobottommargin topmargin-lg col_last">

        <!-- Start FAQs -->
        <h2>{{{title}}}</h2>

        <div class="accordion accordion-border clearfix" data-state="closed">
            {{#each _embedded.6f50736a:faq}}
              <div class="acctitle"><i class="icon-question-sign"></i>{{question}}
              </div>
              <div class="acc_content clearfix">
                {{{answer}}}
              </div>
            {{/each}}
      </div>
        <h3>{{{subtitle}}}</h3>
    </div>
  </div>
</section><!-- #membership end -->