<!DOCTYPE html>
<html dir="ltr" lang="de-DE">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Stylesheets
  ============================================= -->
    {{#each _embedded.b95d1dd8:stylesheet}}
      <link rel="stylesheet" type="text/css" href="{{href}}" />
    {{/each}}

  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Externes Javascript
  ============================================= -->
    {{#each _embedded.b95d1dd8:script}}
        {{#unless footer}}<script type="text/javascript"{{#if src}} src="{{src}}"{{/if}}>{{{inlineScript}}}</script>{{/unless}}
    {{/each}}

  <!-- Titel der Webseite
  ============================================= -->
  <title>{{websiteTitle}}</title>

</head>

<body class="stretched side-push-panel">

<div class="body-overlay"></div>


<!-- Seitenpanel mit Kontaktinfo und Social Networking
============================================= -->
<div id="side-panel" class="dark">

  <div id="side-panel-trigger-close"><a href="#"><i class="icon-line-cross"></i></a></div>

  <div class="side-panel-wrap">

    <div class="widget widget_links clearfix">

      <h4>Login für Mitglieder</h4>

      <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login zur MY GYM Appsite</div>
      <div class="acc_content clearfix">
        <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
          <div class="col_full">
            <label for="login-form-username">Nutzername:</label>
            <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
          </div>

          <div class="col_full">
            <label for="login-form-password">Passwort:</label>
            <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
          </div>

          <div class="col_full nobottommargin">
            <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Anmelden</button>
          </div>
        </form>
      </div>

    </div>

    <div class="widget quick-contact-widget clearfix">

      <h4>Soziale Netzwerke</h4>

      <a href="https://www.facebook.com/MYGYM.at?fref=ts" class="social-icon si-small si-colored si-facebook" title="Facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>
      <a href="https://plus.google.com/105070884320408794603/posts" class="social-icon si-small si-colored si-gplus" title="Google Plus">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
      </a>

    </div>

  </div>

</div>



<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">
    <!-- iterate through partials here -->

  {{#each partials}}
    {{> (lookup . 'name') }}
  {{/each}}

  <div class="content-wrap nopadding"> <!-- start nopadding -->


  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- Footer Scripts
  ============================================= -->
    {{#each _embedded.b95d1dd8:script}}
        {{#if footer}}<script type="text/javascript"{{#if src}} src="{{src}}"{{/if}}>{{{inlineScript}}}</script>{{/if}}
    {{/each}}

</body>
</html>